@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


html body {
  background-color: whitesmoke;

}

 .jumbotron {
 font-family: 'Lobster', cursive;
 background-image: url(../img/376967.jpg);
 background-position: center;
 background-size: cover;
 color:aliceblue;
 }

.navbar .navbar-brand a {
  font-family: 'Lobster', cursive;

}
.navbar-brand {
  font-family: 'Lobster', cursive;


}

.menubar {

  font-family: 'Lobster', cursive;


}



 


