@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


html body {
    background-color: antiquewhite;
}

.jumbotron {
    font-family: 'Lobster', cursive;
    background-image: url(../img/680154.jpg);
    background-position: center;
    background-size: cover;
    color: burlywood;
}

footer {
    position: fixed;
    bottom: 0;
}

html {
    height: 100%;
}

.navbar {
    margin: 0;
    padding: 15px;
    font-size: 23px;
}

    .navbar .navbar-brand a {
        font-family: 'Lobster', cursive;
        padding: 1rem 0;
        display: block;
        text-decoration: none;
        font-size: 23px;
    }

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 23px;
}

.menubar {
    font-family: 'Lobster', cursive;
}

.box {
    background: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

    .box .box-content {
        padding: 20px;
    }

        .box .box-content p {
            line-height: 1.6;
        }

.glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.fblogo {
    height: 30px;
    margin-left: 50px;
}
