<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarloWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark menubar">
            <a class="navbar-brand" href="/">
                <img src="/img/logo/142785894_343929243294051_199158062729832320_n.jpg" width="55" height="35" class="d-inline-block align-top" alt="">
                Carlo Lovarda
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-collapse-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active nav">
                        <a class="nav-link" href="/">Főoldal <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bemutatkozás
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Home" asp-action="Galeria">Galéria</a>
                            <a class="dropdown-item" asp-action="Lovaink">Lovaink</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Edzőink</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Szolgáltatásaink</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Térkép</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success" asp-area="Identity" asp-page="/Account/Register">REGISZTRÁCIÓ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="glow">Egy Ló Egy Élet Egy Szerelem</h1>
                <p class="lead"></p>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ez itt a Carlo lovasiskola
            <a href="https://facebook.com" target="_blank"><img class="fblogo" src="/img/facebook_logo.png"></a>

        </div>
    </footer>
</body>
</html>
