
<div class="container">
    <div class="row">
        <div class="col">
            <div class="box">
                <div class="box-content">
                    <b style='text-align:justify'>
                        <h1>1.Kirchner Szilvia (Tulajdonos)</h1>
                        <h1>2.Szatmári Szilvia (Száncsó) </h1>
                        Kiskorom óta az életem meghatározó része a lovarda, a lovaglás, a lovakkal való munka. Szerencsésnek érzem magam, hogy lovak mellett nőhettem fel, és hogy most másokat vezethetek be ebbe a különleges világba. Mondhatni kiválasztott magának ez a szakma a maga kihívásokkal teli varázsával.  A lovassport által magabiztosabb lettem, kitartást, felelőségérzetet, szorgalmat tanultam. Hálás vagyok anyukámnak, hogy lehetővé tette ezt, és minden edzőnek, akikkel volt szerencsém lovagolni legfőképp Kirchner Szilvinek, hogy mindig támogattak és azt csinálhatom, amit szeretek. Hálával tartozom minden lovasomnak és lónak, hogy együtt tanulhatunk. Munkám során fontosnak tartom, nemcsak a biztos alapülés de a lovak ápolásának, gondozásának oktatását is, mindezt családias hangulatban, egyénre szabott ütemben. Szívesen dolgozom együtt kisgyermekekkel és felnőttekkel egyaránt, nagy öröm végig kísérni a fejlődésüket, támogatni céljaikat, álmaikat, legyen az verseny, tereplovaglás, vagy csak mozogni egy jót. Versenyzői múltammal és ambícióimmal, gyakorlatias jellememmel igyekszem jó példát mutatni, érzékeltetni, hogy nincs lehetettlen. A jövőben is szeretnék még tovább tanulni, alkalmazkodni változó világunk igényeihez, kihívásaihoz.


                        <div class="col">
                            <div class="box">
                                <div class="box-content">
                                    <img src="~/img/szancso1.jpg" class="rounded float-left" alt="Szancso" width="500" height="500" class="img-thumbnail">
                                    <img src="~/img/szancso2.jpg" class="rounded float-xl-none" alt="Szancso width="650" height="550" class="img-thumbnail">
                                </div>
                        </div>





