<body>
    <title>Carlo Lovarda</title>





    <div class="container">
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="box-content">
                        <b style='text-align:justify'>
                            A Carlo Lovassport Egyesület 2012ben alakult ráckevei székhellyel. Célunk egy olyan lovas közösség összekovácsolása ahol mindenki kortól és nemtől függetlenül élvezheti a lovak és a természet közeli élet előnyeit. Fő profilunk az alapos lovas oktatás ezen belül pedig az utánpótlás nevelés. Képzett pónikkal és lovakkal dolgozunk, így tanítványainkat az alapoktól kezdve akár a versenyszerű lovaglásig tudjuk kísérni. Lovasaink számos versenyen eredményességükkel bizonyították hogy a kemény munkánknak igenis beérik a gyümölcse.
                            Munkánkat alaposan és alázattal végezzük, hogy lovak a lehető legjobb bánásmódban részesüljenek.
                            Lovardánk, amit folyamatosan építgetünk, fejlesztgetünk Ráckeve határában autóval és akár tömegközlekedéssel is könnyen megközelíthető helyen van.
                        </b>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="box-content">
                        <img src="img/szilvi1.jpg" width="240" height="240"
                             style="float: right" alt="Carlo Lovarda" title="Carlo Lovarda"></>
                        <img src="img/szilvi2.jpg" width="240" height="240"
                             style="float: right" alt="Carlo Lovarda" title="Carlo Lovarda">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


