<h2>Lovaink </h2>


<B style=TEXT-ALGN: justify"><BR>Don Zseton  </B>
<img src=~/img/donzsetonlo.jpg height=”680” width=”500” alt="Don Zseton” />


<B style=TEXT-ALGN: justify"><BR>Duci </B>
<img src=~/img/ducilo.jpg height=”680” width=”500” alt="Duci” />
<B style=TEXT-ALGN: justify"><BR> Rocky </B>
<img src=/img/rockylo.jpg height=”680” width=”500” alt=” Rocky” />

<B style="TEXT-ALGN: justify"><BR>Vándor  </B>

<img src=~/img/vandorlo.jpg height=”680” width=”500” alt="Vándor" />


